spring:
  application:
    name: pointroulette

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${POSTGRESQL_URL}
    username: ${POSTGRESQL_USERNAME}
    password: ${POSTGRESQL_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Seoul
          batch_size: 50
        order_inserts: true
        order_updates: true
    open-in-view: false

swagger:
  server:
    production:
      url: ${SWAGGER_PRODUCTION_URL}
    local:
      url: http://localhost:8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}
